@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.landingPage {
    background-image: url(../images/landing-page-ales-krivec.jpg);
    height: 93vh;
    z-index: -1;
}

.landingOverlay {
    background-color: rgba(255, 255, 255, 0.596);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hook {
    display: flex;
    z-index: 1;
    position: fixed;
    left: 150px;
    bottom: 32vh;
}

.titleGroup {
    display: flex;
}

.hookHeader {
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    font-weight: 500;
    color: #3A1C17;
    z-index: 1;
    width: 50vh;
}

.hookHeaderEm {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 60px;
    color: #3A1C17;
    z-index: 1;
    padding-top: 15px;
    position: fixed;
    right: 60%;
}

.hookTag {
    font-family: 'Open Sans', sans-serif;
    bottom: 22vh;
    color: #3A1C17;
    position: fixed;
}

.joinButton {
    background-color: #5A291A;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #CFCFCF;
    outline: none;
    border: none;
    width: 370px;
    height: 60px;
    position: fixed;
    left: 15.5vh;
    bottom: 12vh;
    z-index: 1;
}
