* {
    padding: 0;
    margin: 0;
}

nav {
    height: 7vh;
    background: rgb(27,13,10);
    background: linear-gradient(0deg, rgba(27,13,10,1) 0%, rgba(58,28,23,1) 12%, rgba(58,28,23,1) 100%);
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 40px;
    padding-bottom: 5px;
}

.tab {
    color: #CFCFCF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.logo {
    padding-right: 400px;
}

/* img {
    height: 28px;
    position: relative;
    left: 87%;
    top: 55px;
    background-color: tomato;
} */

.selector {
    padding-right: 50px;
}

.search {
    height: 35px;
    color: #3A1C17;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    border: none;
    outline-style: none;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}