* {
    margin: 0;
    padding: 0;
}

.loginPage {
    background-color: #D5CABB;
    display: flex;
    height: 93vh;
}

.grabImage {
    background-image: url(../../images/login-register-rodolfo-marques.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 41.25%;
    height: 100%;
}


.grabImage h2 {
    font-family: 'Beth Ellen', cursive;
    color: #CFCFCF;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding: 2em;
    margin-top: 37%;
}

.grabImage p {
    font-family: 'EB Garamond', serif;
    color: #CFCFCF;
    font-size: 24px;
    text-align: right;
    padding-right: 2.3em;
}

.loginFormBin {
    display: flex;
    flex-grow: inherit;
    width: 58.75%;
    justify-content: center;
    flex-wrap: wrap;
}

.loginForm {
    padding-top: 15em;
    margin-left: 15em;
    margin-right: 15em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.loginForm label {
    text-align: start;
    width: 100%;
    padding-bottom: 8px;
}

.loginForm input {
    height: 22px;
}

.loginText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginText p {
    margin-top: 2em;
    color: black;
}

.loginRegisterRedirect {
    text-decoration: underline;
}

.loginSubmit {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    align-self: center;
    margin-top: 10.1em;
    color: #CFCFCF;
    background-color: #5A291A;
    outline: none;
    border: none;
    height: 40px;
    width: 250px;
}