* {
    margin: 0;
    padding: 0;
}

.loginPage {
    background-color: #D5CABB;
    display: flex;
    height: 90.85vh;
}

.grabImage {
    background-image: url(../../images/login-register-rodolfo-marques.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    width: 41.25%;
    height: 100%;
}

.grabImage h2 {
    font-family: 'Beth Ellen', cursive;
    color: #CFCFCF;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding: 2em;
    margin-top: 37%;
}

.grabImage p {
    font-family: 'EB Garamond', serif;
    color: #CFCFCF;
    font-size: 24px;
    text-align: right;
    padding-right: 2.3em;
}

.loginFormBin {
    display: flex;
    flex-grow: inherit;
    width: 58.75%;

    justify-content: center;
    flex-wrap: wrap;
}

.loginForm {
    padding-top: 15em;
    margin-left: 15em;
    margin-right: 15em;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;

}

.loginForm label {
    text-align: start;
    width: 100%;
    padding-bottom: 8px;
}

.loginForm input {
    height: 22px;
}

/* Old Code */

/* .h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}
 */